@import 'styles/vars';
@import 'styles/mixins';
@import 'styles/fonts';

.todo-page {
    height: 85%;
    @include flex($align: stretch, $justify: stretch, $direction: column);


    &-control {
        padding: 8px 0;
        // background: $dark-gray;
        margin-top: 10px;
        margin-bottom: 10px;
        
        &__content {
            @include flex();
            gap: 30px;
        }
    
        &__title {
            font-size: $size-xl;
            text-align: center;
            border-radius: $main-br;
            color: $black;
            text-shadow: $bottom-text-shadow;
        }

        &__button {
            @include button-primary
        }
}

    .filter-form {

        &__input {
            background-color: $white;
            color: $black;
            border-color: $light-gray;
            font-weight: 700;
            
            &-container {
                width: 330px;
            }

            &-ico {
                filter: $filter-black;
            }
            &::placeholder {
                color: $black;
                text-shadow: none;
                font-weight: 700;
            }

            &:hover {
                border-color: $orange;
            }

            &:focus {
                border-color: $light-green;
            }

            &:active {
                border-color: $light-red;
            }
        }

        &__button {
            // border-color: $light-gray;
            // background: $white;

            // &:hover {
            //     border-color: $orange;
            // }

            // &:focus {
            //     border-color: $light-green;
            // }

            // &:active {
            //     border-color: $light-red;
            // }
        }
    }
}

@include media-max-m {
    .todo-page-control {
        
        &__content {
            flex-direction: column;
            gap: 25px;
        }

        &__title {
            width: 100%;
            font-size: $size-xxl;
            text-align: center;
            padding: 15px 10px;
        }

        .filter-form {

            &__input-container, &__button {
                width: 50%;
            }
        }

        

    }
}
@include media-max-s {
    .todo-page-control {
        margin-bottom: 15px;
        padding: 10px 0;
        &__content {
            flex-direction: column;
            gap: 25px;
           
        }

        &__title {
            width: 100%;
            font-size: $size-xxs;
            text-align: center;
            padding: 8px;
        }

        .filter-form {
            width: 100%;
            &__input-container, &__button {
                width: 100%;
            }

            &__input {
                padding: 18px 14px 15px 14px;

                &-ico {
                    top: 18px;
                }
            }

            &__button {
                padding: 18px 14px 18px 14px;
                font-size: $size-xxs;
            }
        }



    }
}