@import 'styles/vars';
@import 'styles/mixins';
@import 'styles/fonts';


.projects {
    margin-bottom: 60px;
}

@include media-max-m {
    .projects {
        margin-bottom: 40px;
        
    }
}

@include media-max-s {
    .projects {
        margin-bottom: 30px;
        
    }
}