@import 'styles/vars';
@import 'styles/mixins';
@import 'styles/fonts';
.header {
    width: 100vw;
    background: $dark-gray;
    padding: 20px 0;
    margin-bottom: 60px;

    &__content {
        @include flex();
    }

    &__logo {
        color: $white;
        font-size: $size-xl;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            opacity: 0.8;
           
        }
    }

    &__list {
        @include flex();
        gap: 30px;
        font-size: $size-s;
        
        &-item {
            font-family: $font-family-primary;
        }
        &-link {
            color: $white;
            text-decoration: none;
            transition: $transition-main;

            &:hover {
                color: $light-red;
            }
        }

        &-img {
            width: 44px;
            height: 44px;
            transition: $transition-main;
            filter: $filter-white;
            filter: $filter-light-gray;

            &:hover {
                filter: $filter-light-blue;
            }
        }
    }

    
}

@include media-max-m {
    .header {

        &__content {
            
        }

        &__logo {
            font-size: $size-s;
        }

        &__list {
            gap: 15px;
        }

        
    }
}

@include media-max-s {
    .header {
        margin-bottom: 15px;
        padding: 12px 0;
        &__content {
            
        }

        &__logo {
            font-size: $size-xxs;
        }
        
        &__list {
            display: none;
        }


    }
}