@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.todo-card {
   border-radius: $main-br;
   background-color: $soft-gray;
   height: 100%;
   width: 450px;
   min-width: 450px;
   max-width: 450px;
   box-shadow: $shadow;

   &__header {
      @include flex();
      background: $light-green;
      padding: 10px 15px;
      border-radius: $main-br;
      border: 12px solid $dark-gray;
      border-right: none;
      border-left: none;
      position: relative;
   }

   &__add {
      width: 30px;
      height: 30px;
      color: white;
      cursor: pointer;
      opacity: 0.8;
      transition: $transition-main;
      &:hover {
         opacity: 1;
      }
   }
   &__title {
      color: $white;
      font-size: $size-l;
      text-shadow: $bottom-text-shadow;
   }

   &__handle {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      cursor: grab;
   }

   &__main {
      padding: 20px 8px 20px 15px;
      @include flex($direction: column, $gap: 20px, $justify: start);
      height: 90%;
      // overflow-y: scroll;
      // overflow-x: hidden;

      &::-webkit-scrollbar {
         width: 10px;
      }
      &::-webkit-scrollbar-thumb {
         background: lighten($gray, 10%);
         border: 2px solid $soft-gray;
         border-radius: 999px;
      }
   }
}

@include media-max-m {
   .todo-card {
      height: 500px;
      width: 100%;

      &__title {
         font-size: $size-m;
      }

      &__add {
         width: 24px;
         height: 24px;
      }

      &__main {
         gap: 10px;
      }
   }
}

@include media-max-s {
   .todo-card {
      height: 300px;
      width: 100%;

      &__header {
         padding: 4px 8px;
         border-width: 10px;
      }
      &__title {
         font-size: $size-xs;
      }

      &__add {
         width: 16px;
         height: 16px;
      }

      &__main {
         gap: 10px;
         padding: 8px;
      }
   }
}
